
table {
  line-height: 0.9em;
}

.remark-slide-content table {
    font-size: 90%;
}
	
.DT table {
	  font-size: 70%;
}

.right-column {
  padding-top: 0px;
}

.figure {
  font-size: 80%;
  margin-bottom: 0px;
  padding-bottom: 0px;
}

.caption {
  font-size: 90%;
  margin-top: 0px;
  padding-top: 0px;
}